@import "imports/fullcalendar";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

$small-desktop: 768px;
$medium-desktop: 996px;
$large-desktop: 1200px;
$very-large-desktop: 1600px;

body {
	font-size: 0.7em;

	@media (min-width: $small-desktop) {
		font-size: 0.75em;
	}

	@media (min-width: $medium-desktop) {
		font-size: 0.9em;
	}

	@media (min-width: $large-desktop) {
		font-size: 1em;
	}
}



.event-container {
	background-color: #fff;
}

.event {
	font-family: 'Noto Sans', sans-serif;
	color: rgba(0, 0, 0, 0.85);
	padding: 0.5em;
	margin: 1px;
	cursor: pointer;

	.event-time {
		font-size: 1em;
		margin: 0 0.5em 0 0;
		text-transform: uppercase;
	}

	.event-title {
		display: block;
		font-size: 0.85em;
	}

	.event-desc {
		// display: none;
		font-size: 0.75em;
		word-wrap: break-word;
		white-space: pre-line;
	}

	&.all-day {

		.event-time {
			background: #bfbfbf;
			border-radius: 2px;
			padding: 0.15em 0.5em;
		}
	}

	&.active {
		// opacity: 0;
		// font-size: 1.25em;
		//
		// .event-title {
		// 	margin: 1em 0;
		// }
		//
		// .event-desc {
		// 	display: block;
		// }
	}
}
